.category{
    margin-top: 150px;
}
.slider {
  overflow: hidden;
  max-width: 1450px;
  padding:  10px;
  margin: 2vh auto;
      padding: 0;
    max-width: 1450px;
    border-right: 5px solid rgb(66, 36, 18);
    border-left: 5px solid rgb(66, 36, 18);
    border-radius: 20px;
}
.category h1{
  font-size: 30px;
  text-align: center;
  text-shadow:  0 0 20px;
  font-family: cursive;
  color: rgb(82, 47, 20);
  
}
.slide-track {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.slide {
  flex-shrink: 0;
  width: 250px;
  margin: 0 10px;
  border-radius: 15px;
  text-align: center;
}

.card-media {
  height: 150px;
  object-fit: cover;
}
.slide h4{
    white-space: nowrap;
  padding: 10px;
    -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}


.slider:hover .slide-track {
  animation-play-state: paused;
}
.slider2 {
  overflow: hidden;
  max-width: 1450px;
  padding:  10px;
  margin: 2vh auto;
      padding: 0;
    max-width: 1450px;
    border-right: 5px solid rgb(66, 36, 18);
    border-left: 5px solid rgb(66, 36, 18);
    border-radius: 20px;
}
.category h1{
  font-size: 30px;
  text-align: center;
  text-shadow:  0 0 20px;
  font-family: cursive;
  color: rgb(82, 47, 20);
}
.slide-track2 {
  display: flex;
  width: max-content;
  animation: scroll2 15s linear infinite;
}

.slide2 {
  flex-shrink: 0;
  width: 250px;
  margin: 0 10px;
  border-radius: 15px;
  text-align: center;
}

.slide2 h4{
    white-space: nowrap;
    -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}
.card-media {
  height: 150px;
  object-fit: cover;
}

@keyframes scroll2 {
  0% {
    transform: translateX(-33.3%);
  }
  100% {
    transform: translateX(0);
  }
}


.slider2:hover .slide-track2 {
  animation-play-state: paused;
}