.grids1 {
  display: grid;
  row-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  margin: 150px auto 0;
  gap: 15px;
  max-width: 1250px;
  padding: 20px;
}
.Card1 {
  max-width: 100% !important;
  height: 550px !important;
  /* overflow: hidden; */
  margin: 15px auto;
  padding: 20px;
  border-radius: 20px !important;
  background: rgb(236, 216, 235) !important;
  box-shadow: rgb(181, 172, 118) 0 0 10px !important;
}
.CardMedia1{
  height: 280px;
}
.price1 {
  margin: 0 0 20px;
}
.bookname1 {
  text-transform: capitalize;
  margin-left: 10px;
  font-family: cursive;
  font-size: 18px;
  white-space: nowrap;
    -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.discription1 {
  max-width: 300px;
    display: -webkit-box;
    
  -webkit-line-clamp: 2; /* Show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Card1:hover {
  box-shadow: rgb(181, 172, 118) 0 0 20px !important;
  transition: 0.3s;
  transform: scale(1.05);
}

.price1 {
  color: green;
}

.btns1 {
  display: flex !important;
  justify-content: space-evenly;
  margin: 20px auto !important;
  width: 100%;
  gap: 10px;
}
.dltbtn1 {
  width: 100%;
  color: rgb(240, 230, 230) !important;
  font-family: cursive !important;
  box-shadow: rgb(165, 152, 136) 0 0 10px !important ;
  background-color: rgb(198, 44, 44) !important;
}
.dltbtn1:hover {
  transform: scale(0.99);
}
.dltbtn1:active {
  background-color: rgb(204, 96, 24) !important;
  box-shadow: red 0 0 10px !important;
}
.editbtn1 {
  width: 100%;
  font-family: cursive !important;
  box-shadow: rgb(151, 133, 111) 0 0 10px !important ;
}

.buybtn1 {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.buynow1 {
  color: rgb(223, 221, 221) !important;
  font-weight: 300 !important;
  background-color: rgb(105, 171, 105) !important;
}
.add-to-cart1 {
  background-color: rgb(129, 123, 120) !important;
  color: rgb(223, 221, 221) !important;
  font-weight: 300 !important;
}
