.grids {
  display: grid;
  row-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  margin: 150px auto 0;
  gap: 15px;
  max-width: 1250px;
  padding: 20px;
}
.Card {
  max-width: 100% !important;
  height: 550px !important;
  overflow: hidden;
  margin: 15px auto;
  padding: 20px;
  border-radius: 20px !important;
  background: rgb(236, 216, 235) !important;
  box-shadow: rgb(181, 172, 118) 0 0 10px !important;
}
.CardMedia{
  height: 280px;
}
.price {
  margin: 0 0 20px;
}
.bookname {
  text-transform: capitalize;
  margin-left: 10px;
  font-family: cursive;
  font-size: 18px;
  white-space: nowrap;
    -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.discription {
  max-width: 300px;
    display: -webkit-box;
    
  -webkit-line-clamp: 2; /* Show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Card:hover {
  box-shadow: rgb(181, 172, 118) 0 0 20px !important;
  transition: 0.3s;
  transform: scale(1.05);
}

.price {
  color: green;
}

.btns {
  display: flex !important;
  justify-content: space-evenly;
  margin: 20px auto !important;
  width: 100%;
  gap: 10px;
}
.dltbtn {
  width: 100%;
  color: rgb(240, 230, 230) !important;
  font-family: cursive !important;
  box-shadow: rgb(165, 152, 136) 0 0 10px !important ;
  background-color: rgb(198, 44, 44) !important;
}
.dltbtn:hover {
  transform: scale(0.99);
}
.dltbtn:active {
  background-color: rgb(204, 96, 24) !important;
  box-shadow: red 0 0 10px !important;
}
.editbtn {
  width: 100%;
  font-family: cursive !important;
  box-shadow: rgb(151, 133, 111) 0 0 10px !important ;
}

.buybtn {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.buynow {
  color: rgb(223, 221, 221) !important;
  font-weight: 300 !important;
  background-color: rgb(105, 171, 105) !important;
}
.add-to-cart {
  background-color: rgb(129, 123, 120) !important;
  color: rgb(223, 221, 221) !important;
  font-weight: 300 !important;
}

.pages {
  font-size: 16px !important;
  color: rgb(131, 121, 110);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  background: none;
  border-bottom: 2px solid rgb(151, 107, 10);
  border-radius: 5px;
}
.pagination {
  max-width: fit-content;
  margin:  auto;
  padding: 50px;
}
.pagination span {
  font-family: cursive;
  color: rgb(71, 63, 52);
}
.pages:hover {
  border-bottom: 2px solid rgb(242, 60, 19);
  transform: scale(1.1);
  color: rgb(223, 194, 25);
  transition: 0.3s;
}
/* ------------------------- */

