.login{
    background: url("../../public/loginimg/loginbg.jpg")center; 
    height: auto ;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
.section{
    /* background-color: aqua; */
    max-width:700px;
    margin:15vh auto;
    padding: 20px;
}
.cnt1{
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    /* gap: 2vw; */
    border-radius: 20px;
    background-color: rgba(128, 101, 142, 0.548);
    min-height: 60vh ;
}
/* ---------------------------- */

.text{
    width: 70%;
    margin: 10px auto !important;
}
.text .MuiOutlinedInput-notchedOutline {
  border: .5px solid rgb(212, 199, 125) !important ;
}
.text label{
    color: white;
    letter-spacing: 2px;
    font-size: 15;
    position: absolute !important;
}
.text input{
    color: white !important;
    font-size: 20;
}
.submit{
    color: white !important;
    width: 70%;
     margin: 10px auto !important;
    background-color: rgb(30, 92, 150) !important;
}
