@font-face {
  font-family: cursive2;
  src: url("../../src/fonts/PlaywriteDESAS-Regular.ttf");
}
.headImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top:0 ;
  z-index: -2;
  padding: 0;
  margin: 0;
}
.imageHead {
  position: relative;
}
.headImage.fixed {
  position: fixed;
  top: 0;
}
.headPera {
  display: flex;
  max-width: 60%;
  margin: 50px auto;
  text-align: center;
  font-weight: 900;
  font-family:cursive2 ;
}
.headPera .text-content{
  font-weight: 500;
  font-size: 3.3vw;
}
 h1:hover{
  transform: scale(0.9999);
}
.BookType{
  max-width: 1250px;
  padding: 20px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  /* gap: 20px; */
  position: relative;
}
.BookType h4{
  position: absolute;
  font-size: 5vw;
  font-family: cursive2;
  color: white ;
  text-shadow: 0 0 20px;
}
.BookType h4:hover{
    transform: scale(1.02);
}
.new,.old{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
}
#new ,#old{
  box-shadow: #d469bb  0 0 50px;
  width: 100%;
  max-width: 550px;
  position: relative;
  opacity: 100%;
  border: groove 4px rgb(134, 81, 20) ;
  border-radius: 100%;
}
#old{
  top: -50px;
}
#new{
  top: 150px;
}
#new:hover ,#old:hover{
  transform: scale(.985);
}
.home{
  position: relative;
  z-index: 1;
  min-height: 100vh;
    background: linear-gradient(#dc0ca8ff,#dc0ca8ff,#dc0ca8ff,rgb(220, 153, 203),rgb(220, 153, 203));
}

.bgSilk{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  border: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}
.bgSilk::after {
  content: "";
  position: absolute;
  bottom: -1;
  left: 0;
  width: 100%;
  height: 150px; 
  background: linear-gradient(to top, rgb(220, 12, 168), transparent);
  pointer-events: none; 
  border: none;

}