.navigation-menu {
  margin: 20px 0px;
  position: relative;
  z-index: 1;
}

.navigation-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 100px;
}

.navigation-menu ul li button {
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  line-height: 22px;
  transition: color 0.25s;
  font-size: 20px;
}

.navigation-menu ul li:not(.active):hover button {
  text-shadow: 0 0 10px #46184a, 0 0 20px #ff00e6;
}

.navigation-menu .active-element {
  --active-element-scale-x: 1;
  --active-element-scale-y: 1;
  --active-element-show: 1;
  --active-element-opacity: 1;
  --active-element-width: 0px;
  --active-element-strike-x: 0%;
  --active-element-mask-position: 0%;
  position: absolute;
  left: 0;
  top: 34px;
  height: 3px;
  width: 60px;
  border-radius: 2px;
  background-color: #8913a3;
  opacity: var(--active-element-show);
}

.navigation-menu .active-element > svg,
.navigation-menu .active-element .strike {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: var(--active-element-opacity);
  width: var(--active-element-width);
  mix-blend-mode: multiply;
}

.navigation-menu .active-element > svg {
  display: block;
  overflow: visible;
  height: 5px;
  filter: blur(0.5px)
    drop-shadow(2px 0px 0px #e100ff40)
    drop-shadow(1px 0px 2px #ff00dd80)
    drop-shadow(0px 0px 3px #dd00ff40)
    drop-shadow(2px 0px 8px #c800ff45)
    drop-shadow(8px 0px 16px #f200ff50);
}

.navigation-menu .active-element .strike {
  padding: 24px 0;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent calc(0% + var(--active-element-mask-position)),
    black calc(15% + var(--active-element-mask-position)),
    black 80%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent calc(0% + var(--active-element-mask-position)),
    black calc(15% + var(--active-element-mask-position)),
    black 80%,
    transparent
  );
}

.navigation-menu .active-element .strike svg {
  display: block;
  overflow: visible;
  height: 12px;
  width: calc(var(--active-element-width) * 2);
  transform: translate(var(--active-element-strike-x), 30%)
    scale(var(--active-element-scale-x), var(--active-element-scale-y));
}

.navigation-menu .active-element .strike svg:last-child {
  transform: translate(var(--active-element-strike-x), -30%) scale(-1);
}

.navigation-menu .active-element .strike svg g path:nth-child(2) {
  filter: blur(2px);
}

.navigation-menu .active-element .strike svg g path:nth-child(3) {
  filter: blur(4px);
}

.navigation-menu.before .active-element {
  transform: rotateY(180deg);
}
